<h1>Specialists</h1>

<% @specialists.each do |specialist|%>
<h2><%= link_to specialist.name, specialist_path(specialist) %></h2>
<h4>Speciality:<%= specialist.speciality %></h4>
<% end %>

<h4><%= link_to "Apply to be one of our Beloved Specialists", new_specialist_path %> </h4>