<h1>Artworks</h1>
<div class="artwork">
    <% @artworks.each do |artwork|%>
    <ul>
    <h4><div class="grid-container"> <%= link_to artwork.name, artwork_path(artwork) %></div></h4>
    <h3><div class = "grid-container"> <%= image_tag artwork.artwork_path %></div></h3>
    </ul>
    <% end %>
</div>


